<% include ../../partials/header-profile %>
<body>
<div style="width:100%">
    <div class="container" style="margin-right:0%">
        <div id="side_dash">
            <div class="box" id="logo-box">
                <a href="/users/patients/home"><img id="hospitant-logo" src="/img/1st.png" height="100%" alt="Hospitant"></a>
            </div>
            <div class="box" id="nearest-hospital1">
            </div>
            <div class="box" id="nearest-hospital">
                <a  class="link-dash-text" href="/users/patients/nearest-hospital"><img class="img" src="/img/nearesthospital.png" height="80%" alt="Hospitant">
                    <h5 class="dash-text" style="margin-top:0%">Nearest hospital</h5>
                </a>
            </div>
            <div class="box" id="call-ambulance">
                <a class="link-dash-text" href="/users/patients/call-ambulance"><img class="img" src="/img/ambulance.png" height="100%" alt="Hospitant">
                    <h5 class="dash-text" style="margin-top:3%">Call Ambulance</h5>
                </a>
            </div>
            <div class="box" id="your-hospital">
                <a class="link-dash-text" href="/users/patients/linked-hospitals"><img class="img" src="/img/accnt.png" height="100%" alt="Hospitant">
                    <h5 class="dash-text" style="margin-top:0.5%">Your Hospitals</h5>
                </a>
            </div>
            <div class="box" id="best-hospital">
                <a class="link-dash-text" href="/users/patients/best-hospitals"><img class="img" src="/img/best-hospital.png" height="100%" alt="Hospitant">
                    <h5 class="dash-text" style="margin-top:4%" >Best Hospital</h5>
                </a>
            </div>
            <div class="box" id="nearest-pharma">
                <a class="link-dash-text" href="/users/patients/nearest-pharmacy"><img class="img" src="/img/pharmacy-1.png" height="100%" style="margin-left:15%" alt="Hospitant">
                    <h5 class="dash-text" style="margin-top:1.5%">Nearest Pharmacy</h5>
                </a>
            </div>
            <div class="box" id="appoint-doctor">
                <a class="link-dash-text" href="/users/patients/appoint-doctor"><img class="img" src="/img/blog.png" height="100%" style="margin-left:27%" alt="Hospitant">
                    <h5 class="dash-text" style="margin-top:2%">Appoint Doctor</h5>
                </a>
            </div>
            <div class="box" id="invest">
                    <a class="link-dash-text" href="/users/patients/<%= user.username %>">
                    <img class="img" src="/img/contribute.png" height="100%" style="margin-left:20%" alt="Hospitant">
                        <h5 class="dash-text" style="margin-top:2%"><%= user.username %></h5>
                    </a>
                
            </div>
        </div>
    </div>
    <div style="width:97%">
            <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:38px;background-color:rgba(3, 30, 54, 0.11);width:90.3%;margin-left:111px">hello</div>
                    <form method="get" action="/users/patients/search">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="input-group" style="width:92.4%;margin-left:96px">
                                    <!-- Input Section -->
                                        <input type="Search" style="color:rgba(7, 74, 102, 0.479);border-radius:0%" class="form-control" name="search" id="search-input" placeholder="Search hospital By" style="border-radius:0px">
                                            <div class="input-group-btn">
                                            <!--Division for the grouping buttons that contains dropdown value for selecting different attributes -->
                                                <div class="btn-group">
                                                    <button type="button" id="srch-val" name="search" class="btn btn-primary active dropdown-toggle 1 bttn" data-toggle="dropdown" >
                                                        Select
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li class="menu1 pointer"><a>Names</a></li>
                                                        <li class="menu1 pointer"><a>City</a></li>
                                                        <li class="menu1 pointer"><a>District</a></li>
                                                        <li class="menu1 pointer"><a>Regions</a></li>
                                                        <li class="menu1 pointer"><a>Diseases Cured</a></li>
                                                        <li class="menu1 pointer"><a>None</a></li>
                                                    </ul>
                                                    <script>
                                                        $(".dropdown-menu li").click(function(){
                                                            $(this).parents(".btn-group").find('.btn').html(
                                                            $(this).text()+" <span class=\"caret\"></span>"
                                                            );
                                                        });
                                                    </script>
                                                </div>
                                                <!-- Division for groupting buttons which has dropdown value for viewing-->
                                                <div class="btn-group">
                                                    <button type="button" name="search" class="btn btn-primary active dropdown-toggle 2 bttn" data-toggle="dropdown">
                                                        View
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li class="menu1 pointer"><a>Map</a></li>
                                                        <li class="menu1 pointer"><a>List</a></li>
                                                    </ul>
                                                    <script>
                                                        $(".dropdown-menu li").click(function(){
                                                            $(this).parents(".btn-group").find('.btn').html(
                                                            $(this).text()+" <span class=\"caret\"></span>"
                                                            );
                                                        });
                                                    </script>
                                                </div>
                                                <!-- Division for grouping buttons which has value for search button-->
                                                <div class="btn-group">
                                                    <input type="submit" class="btn btn-primary active  " style="border-radius:0%" value="Go">
                                                </div>
                                            </div>
                                    </div>
                        </div>
                    </form>
                </div>
    </div>
</div>
    <!-- Container for the profile content and the details -->
    <div class="profile-container" style="width:94%;margin-left:30px;padding:1.5%;text-align:center;color:rgba(5, 64, 90, 0.96)">
        <!-- Row for the containing the profile picture -->
        <div class="row">
            <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4">  
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4"> 
                    </div>
                    <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4" style="height:140px;border:1px solid grey;border-radius:10%;color:rgba(5, 64, 90, 0.96)">
                        <img class="img-rounded" src="/img/teams/akhil.jpg" alt="User profile" height="100%" width="100%">
                        <h4><a style="text-decoration:none" href="/users/patients/<%= user.username %>"><%=user.username%></a></h4>
                        <small>Address</small>
                    </div>
                    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4">
            </div>
        </div>
        <!-- row with 3 columns for contaning the basic information of the profile -->
        <div class="row" style="margin-top:90px">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border-right:1px solid grey">        
                    <h4 style="color:rgb(172, 12, 33)"><strong>Basic Info</strong></h4><br>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:right">
                        <h4 class="detail" style="font-size:100%">Full Name:</h4><br>
                        <h4 class="detail" style="font-size:100%">Address:</h4><br>
                        <h4 class="detail" style="font-size:100%">Email Address:</h4><br>
                        <h4 class="detail" style="font-size:100%">Phone Number:</h4><br>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:left">
                            <h4 class="detail" style="font-size:100%">Name here</h4><br>
                            <h4 class="detail" style="font-size:100%">Address here</h4><br>
                            <h4 class="detail" style="font-size:100%"><%=user.email%></h4><br>
                            <h4 class="detail" style="font-size:100%"><%= user.usr_phn%></h4><br>
                    </div>       
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h4 style="color:rgb(172, 12, 33)"><strong>Medical Info</strong></h4><br>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:right">
                            <h4 class="detail" style="font-size:100%">Blood Group:</h4><br>
                            <h4 class="detail" style="font-size:100%">Diesease till now:</h4><br>
                            <h4 class="detail" style="font-size:100%">Cured Diesease:</h4><br>
                            <h4 class="detail" style="font-size:100%">Frequent Dieseases:</h4><br>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:left">
                                <h4 class="detail" style="font-size:100%">Blood Group here</h4><br>
                                <h4 class="detail" style="font-size:100%">List of dieseases till now</h4><br>
                                <h4 class="detail" style="font-size:100%"> List of cured dieseases till now</h4><br>
                                <h4 class="detail" style="font-size:100%">List of frequent Dieseases</h4><br>
                        </div>   
                </div>
        </div>
        <div class="row">
                <div class="col-xs-12 col-sm-12 cl-md-12 col-lg-12" style="margin-top:30px;text-align:center">
                    <h4 style="color:rgb(172, 12, 33)"><strong>History</strong></h4><br>
                </div>
            </div>
    </div>
    <!-- Division for the history of the patient -->
    
